@keyframes mouse {
    from {
        top: calc(100% + 17px)
    }
    to {
        top: calc(102% + 17px)
    }
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*23.11.08*/
.video-background {position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1}
.video-foreground,
.video-background iframe {position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1}
@media (min-aspect-ratio: 16/9) {.video-foreground {height:400vh;top:50%;transform:translateY(-50%)}}
@media (max-aspect-ratio: 16/9) {.video-foreground {width:400vw;left:50%;transform:translateX(-50%)}}
#cont01 {z-index: 1}
#cont01 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}
/*23.11.08*/

#cont01 .content {
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
}

#cont01 .title {
    width: 100%;
}

#cont01 .pv-button {
    position: absolute;
    top: 64%;
    left: 23.5%;
    width: 52%;
    height: 14%;
    cursor: pointer;
}

#cont01 .mouse {
    position: absolute;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    animation: 0.5s linear 1s infinite alternate mouse
}

.game {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

#cont02.game {background-image: url("../img/cont02/background.jpg")}
#cont03.game {background-image: url("../img/cont03/background.jpg")}
#cont04.game {background-image: url("../img/cont04/background.jpg")}

.game .top {
    position: absolute;
    top: calc(50px + 2%);
    width: 100%;
    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game .logo {
    display: flex;
    align-items: center;
    gap:10px;
}
.game .logo img:nth-child(1) {height:25px}
.game .logo img:nth-child(2) {height:30px}

.game .homepage {
    height: 100%;
    display: flex;
    align-items: center;
}
.game .homepage img {
    height: 11px;
}

.game .content {
    position: absolute;
    bottom: 2.6%;
    text-align: center;
}

.game .content img {
    width: 100%;
}

.game .button {
    position: relative;
}

.game .button a {
    position: absolute;
    top:11%;
    left:33%;
    width:33%;
    height:32%;
}

#cont03.game .button a {
    width: 36%;
    left: 12%;
}
